# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Cython debug symbols
cython_debug/

# Virtual environment
venv/
ENV/
env/
.venv/

# PyInstaller
/dist/
*.spec

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Logs
*.log
logs/

# Dependency directories
node_modules/
bower_components/

# Python egg files
*.egg
*.egg-info/
.eggs/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/

# Pytest
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environments
.env
.env.*
*.env

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml

# Jupyter Notebook
.ipynb_checkpoints/

# Mac OS X Finder directory attributes
.DS_Store

# Windows Thumbs.db
Thumbs.db
